# Файлы, которые генерирует CMake
cmake-build-*/

# Файлы проекта
*.o
*.d
*.gcda
*.gcno

# Файлы с расширением .exe, .out, .dll и т.д.
*.exe
*.out
*.dll
*.so

# Файлы аварийного завершения процесса
core

# Папки и файлы, используемые для тестирования
build/
test/

# Исключение для файла с конфигурацией
!config.ini