# Файлы, которые генерирует CMake
cmake-build-*/
# Игнорировать временные файлы и резервные копии
*~
.#*
*.swp
*.bak

# Игнорировать папку .idea в проекте
.idea/

# Игнорировать папки и файлы, созданные при сборке проекта
build/
bin/
out/

# Игнорировать файлы настроек среды разработки
*.iml
*.ipr
*.iws
*.idea/workspace.xml
*.idea/tasks.xml

# Игнорировать файлы и папки, содержащие конфиденциальную информацию
.secret/
*.key
*.pem

# Игнорировать файлы журналов и файлы локализации
log/
*.log
*.pot
*.po
*.